.card {
  padding: 16px;
  margin: 10px;
  width: 50%;
  height: 100%;
  cursor: pointer;
  justify-items: center;
  transition: transform 0.2s;
  position: relative;
 
}

.card:hover {
  transform: scale(1.50);
}

