@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  display: block;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  box-sizing: border-box;
  background-color: rgb(211, 211, 223);

}